.category-list-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.category-heading {
    color: #5D5A88;
    font-size: 36px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    line-height: 46px;
    text-align: center;
    margin-bottom: 20px;
}

.categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 20%;
    height: 100%;
    background: white;
    border-radius: 10px;
    border: 0.50px #D4D2E3 solid;
    overflow: hidden;
    transition: 0.2s ease-in-out;
}

.category-item:hover {
    transform: scale(1.04) rotate(-1deg);
}

.category-icon {
    width: 100%;
    height: auto;
    border-radius: top 10px;
    display: flex;
}

.category-name {
    color: #5D5A88;
    font-size: 20px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    word-wrap: break-word;
}

@keyframes anim {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.category-item:hover > .category-icon {
    height: 65%;
    filter: blur(7px);
    animation: anim 3s infinite;
}

.textBox {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: 0.2s ease-in-out;
    z-index: 2;
}

.category-item:hover > .textBox {
    opacity: 1;
}
