// Colors
$color-main: #5D5A88;
$category-background: white;
$category-border-color: #D4D2E3;

// Fonts
$font-default: 'DM Sans', sans-serif;
$font-weight-bold: 700;

// Sizes
$heading-font-size: 2.25em;
$heading-line-height: 2.875em;
$name-font-size: 1.25em;
$name-line-height: 1.25em;
$category-gap: 5%;
$category-border-width: 0.03125em;
$text-box-height: 40%;
$category-item-width: 20%;
$category-icon-height: 10em;
$category-name-padding: 5%;
$text-box-padding: 5%;
$hover-transform: scale(1.04) rotate(-1deg);
$hover-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
$hover-bg-color: $category-border-color;
$hover-icon-height: $category-icon-height;
$hover-icon-filter: blur(1px);
$hover-icon-opacity: 0.4;
// Min and Max width for cards
$card-min-width-small: 90%; // 90% of the viewport for mobile screens
$card-max-width-small: 100%; // 100% for mobile screens to take the full width
$card-min-width-medium: 200px; // 200px for tablet screens
$card-max-width-medium: 300px; // 300px for tablet screens
$card-min-width-large: 250px; // 250px for desktop screens
$card-max-width-large: 400px; // 400px for desktop screens

// Animation
$animation-duration: 3s;
$animation-translation: -20px;

// Define breakpoints
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;

.category-list-holder {
    margin-left: 10%;

    .category-heading {
        color: $color-main;
        font-size: $heading-font-size;
        font-family: $font-default;
        font-weight: $font-weight-bold;
        line-height: $heading-line-height;
        text-align: flex-start;
        margin-bottom: $category-gap;
        padding-top: $category-name-padding;
    }

    .categories {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: $category-gap;
        justify-content: flex-start;

        @media (max-width: $breakpoint-small) {
            flex-direction: column;
            gap: 1.5%;
        }
    }

    .category-item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: $category-gap;
        width: $category-item-width;
        background: $category-background;
        border-radius: 10px; // Adjusting the bottom border-radius to 0
        border: $category-border-width solid $category-border-color;
        overflow: hidden;
        transition: 0.2s ease-in-out;
        margin-bottom: $category-gap;
        // Default card widths (can be for mobile or common styles)
        min-width: $card-min-width-large;
        max-width: $card-max-width-large;

        // Tablet screens
        @media (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
            min-width: $card-min-width-medium;
            max-width: $card-max-width-medium;
        }

        // Desktop screens
        @media (min-width: $breakpoint-large) {
            min-width: $card-min-width-large;
            max-width: $card-max-width-large;
        }

        &:hover {
            transform: $hover-transform;
            box-shadow: $hover-box-shadow;
            background-color: $hover-bg-color;
        }

        .category-icon {
            width: 100%;
            height: $category-icon-height;
            border-radius: 10px 10px 0 0; // Matches the border-radius of the card at the top
            object-fit: cover;
        }

        .category-name {
            color: $color-main;
            font-size: $name-font-size;
            font-family: $font-default;
            font-weight: $font-weight-bold;
            line-height: $name-line-height;
            text-align: center;
            word-wrap: break-word;
            padding: $category-name-padding;
            flex-grow: 1; // This ensures that category-name takes up the remaining space, pushing the image to the top
        }

        .text-box {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            opacity: 0;
            display: bottom;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: 0.2s ease-in-out;
            z-index: 2;
            padding: $text-box-padding;
            width: 100%;
            height: $text-box-height;
            overflow-y: scroll;
            scrollbar-width: none;
            -ms-overflow-style: none;

            &::-webkit-scrollbar {
                display: none;
            }

            .category-description {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                text-size-adjust: 100%;
            }

            &:hover {
                opacity: 1;
            }
        }

        &:hover>.category-icon {
            height: $hover-icon-height;
            filter: $hover-icon-filter;
            opacity: $hover-icon-opacity;
            animation: anim $animation-duration infinite;
        }

        @media (max-width: $breakpoint-small) {
            width: 100%;
            margin-bottom: 1.5em;

            .category-name,
            .category-heading {
                font-size: 0.75em;
            }
        }

        @media (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
            width: 45%;
        }
    }

    @keyframes anim {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY($animation-translation);
        }

        100% {
            transform: translateY(0);
        }
    }
}