<ng-template #requestsModalContent>
    <div class="requests-holder">
        <div class="form-heading">
            Requests sent to you
        </div>
        <div *ngIf="requests.length === 0">
            <img class="no-requests-found" alt="You can continue browsing, there are no requests waiting for you :)">
        </div>
        <div class="request" *ngFor="let request of requests">
            <div class="renter-name">
                {{request.renterName}}
            </div>
            <div class="product-name">
                {{request.productName}}
            </div>
            <div class="request-status" *ngIf="request.requestStatus">
                <div *ngIf="request.requestStatus.toString() === Status[Status.PENDING]">
                    <div class="buttons">
                        <div class="button-default button-primary"
                             (click)="answerRequest(request.requestId,'accept')">
                            Accept
                        </div>
                        <div class="button-default button-secondary"
                             (click)="answerRequest(request.requestId,'decline')">
                            Decline
                        </div>
                    </div>
                </div>
                <div class="accepted" *ngIf="request.requestStatus.toString() === Status[Status.ACCEPTED]">
                    Accepted
                </div>
                <div class="declined" *ngIf="request.requestStatus.toString() === Status[Status.DECLINED]">
                    Declined
                </div>
            </div>
        </div>
    </div>
</ng-template>

<div class="notification">
    <div (click)="openRequestsModal(requestsModalContent)">Requests</div>
    <div *ngIf="requests.length>0" class="badge">{{requests.length}}</div>
</div>
