<div>
    <div>
        <button routerLink="/admin/categories">&larr;Go back</button>
        <br>
    </div>

    <form class="category-form" (ngSubmit)="clickHandlerFunction()">
        Name:
        <input type="text" name="name" [(ngModel)]="category.name" placeholder="{{category.name}}"><br>
        Description:
        <textarea type="text" name="description" [(ngModel)]="category.description"
            placeholder="{{category.description}}"></textarea><br>
        ImageURL("upload image"):
            <sgh-image [imageIds]="[category.imageId]" [allowMultiple]="false" [mode]="paramCheck"
                (fileChange)="onFileChange($event)"></sgh-image>
        <button type="submit">Save</button>
    </form>
</div>