@import '../../../style-variables.scss';

// Colors
$color-main: $color-main-1;
$product-background: $color-neutral-1;
$product-border-color: #D4D2E3;

// Fonts
$font-weight-bold: 700;

// Sizes
$heading-font-size: 2.25em;
$heading-line-height: 2.875em;
$name-font-size: 1.25em;
$name-line-height: 1.25em;
$price-font-size: 1em;
$product-gap: 5%;
$product-border-width: 0.03125em;
$text-box-height: 6em;
$product-item-width: 20%;
$product-icon-height: 10em;
$product-name-padding: 5%;
$price-padding: 2%;
$text-box-padding: 5%;
$hover-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
$hover-icon-height: $product-icon-height;

// Min and Max width for cards
$card-min-width-small: 90%;
$card-max-width-small: 100%;
$card-min-width-medium: 200px;
$card-max-width-medium: 250px;
$card-min-width-large: 250px;
$card-max-width-large: 280px;

// Define breakpoints
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;

// Classes
.product-list-holder {
    margin-left: 10%;

    .products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: $product-gap;
        justify-content: flex-start;

        @media (max-width: $breakpoint-small) {
            flex-direction: column;
            gap: 1.5%;
        }

        .product-item {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: $product-gap;
            width: $product-item-width;
            background: $product-background;
            border-radius: 10px;
            border: $product-border-width solid $product-border-color;
            overflow: hidden;
            transition: 0.2s ease-in-out;
            margin-bottom: $product-gap;
            min-width: $card-min-width-large;
            max-width: $card-max-width-large;

            // Tablet screens
            @media (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
                min-width: $card-min-width-medium;
                max-width: $card-max-width-medium;
            }

            // Desktop screens
            @media (min-width: $breakpoint-large) {
                min-width: $card-min-width-large;
                max-width: $card-max-width-large;
            }

            &:hover {
                box-shadow: $hover-box-shadow;
                background-color: $color-main-3;
                cursor: pointer;
            }

            &:hover > .product-icon {
                height: $hover-icon-height;
            }

            @media (max-width: $breakpoint-small) {
                width: 100%;
                margin-bottom: 1.5em;

                .product-name,
                .product-heading {
                    font-size: 0.75em;
                }
            }

            @media (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
                width: 45%;
            }

            .product-icon {
                width: 100%;
                height: $product-icon-height;
                border-radius: 10px 10px 0 0;
                object-fit: cover;
            }

            .product-description {
                top: 0;
                left: 0;
                right: 0;
                display: -webkit-box;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transition: 0.2s ease-in-out;
                z-index: 2;
                padding: $text-box-padding;
                width: 100%;
                height: $text-box-height;
                overflow-y: scroll;
                scrollbar-width: none;
                -ms-overflow-style: none;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                text-size-adjust: 100%;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            .product-name {
                color: $color-main;
                font-size: $name-font-size;
                font-family: $font-default;
                font-weight: $font-weight-bold;
                line-height: $name-line-height;
                text-align: center;
                word-wrap: break-word;
                padding: $product-name-padding;
                flex-grow: 1;
            }

            .product-price {
                color: $color-main-4;
                font-size: $price-font-size;
                padding: $price-padding;
            }
        }
    }
}
