<div class="product-details">
    <div class="product-main-area">
        <div class="heading-items">
            <div class="product-name-and-avail">
                <div class="heading product-name product-heading">
                    {{product.name}}

                    <!--                    check if owner-->
                    <div *ngIf="product.userId==product.userId" class="product-edit-link"
                         routerLink="/products/{{product.id}}/edit">
                        &#9998;
                    </div>
                    <div *ngIf="product.userId==product.userId" class="product-edit-link"
                         (click)="deleteProduct()">
                        &#128465;
                    </div>
                </div>
                <div *ngIf="product.available" class="product-avail-1 heading">Available</div>
                <div *ngIf="!product.available" class="product-avail-0 heading">Currently unavailable</div>
            </div>
            <div class="add-to-favorite">
                <div class="add-to-favorite-icon">
                    &hearts;
                </div>
            </div>
        </div>

        <div class="ad-info-and-location">
            <div class="location">
                {{product.location}}
            </div>
        </div>

        <div class="images-and-pricing">
            <div class="images">
                <img src="" alt="[Images]">
            </div>
            <div class="pricing">
                <div class="heading">{{product.rentPrice}} RON / day</div>

                <div class="rent-options">
                    <div class="rent-dates">
                        <div class="rend-date-picker-div">
                            <label class="rent-date-label">From</label>
                            <input class="rent-date-picker" type="date" name="dateFrom" [(ngModel)]="dateFrom">
                        </div>

                        <div class="rend-date-picker-div">
                            <label class="rent-date-label">To</label>
                            <input class="rent-date-picker" type="date" name="dateTo" [(ngModel)]="dateTo">
                        </div>
                    </div>

                    <div class="rent-price">
                        <label class="rent-price-label heading">Total</label>
                        <div class="rent-price-total heading">
                            {{showTotalPrice(dateFrom, dateTo, 'd')}} RON
                        </div>
                    </div>

                    <div class="rent-button-holder buttons">
                        <button class="rent-button button-default button-primary" (click)="rentProduct()">Rent</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-details-area">
        <div class="product-details-nav-btn buttons">
            <div (click)="scrollToPagePart('prod-desc')" class="button-default button-secondary">Description</div>
            <div (click)="scrollToPagePart('prod-lend-desc')" class="button-default button-secondary">About renter</div>
            <div (click)="scrollToPagePart('prod-loc')" class="button-default button-secondary">Location</div>
        </div>

        <div class="product-description" id="prod-desc">
            <div class="heading">Description</div>
            <div class="product-description-content">
                {{product.description}}
            </div>
        </div>

        <div class="product-lender-description" id="prod-lend-desc">
            <div class="heading">About lender</div>
            <div class="product-lender-description-content">
                {{productLender.username}}
            </div>
        </div>

        <div class="product-location" id="prod-loc">
            <div class="heading">Location</div>
            <div class="product-location-content">
                {{product.location}}
            </div>
        </div>
    </div>
</div>
