@import "../../../style-variables.scss";

$main-page-padding: 10%;
$row-padding: 5%;
$column-padding: 3%;
$item-gap-1: 15px;
$item-gap-2: 25px;
$item-padding: 15px;
$font-weight-1: 700;
$font-weight-2: 600;
$product-links-size: 18px;
$date-picker-size: 140px;
$border: 2px solid $color-main-3;
$icon-size: 50px;

.heading {
    color: $color-main-1;
    font-family: $font-default;
    font-weight: $font-weight-1;
    font-size: $size-h2;
}

.product-details {
    padding-left: $main-page-padding;
    padding-right: $main-page-padding;

    .product-main-area {
        border-bottom: solid;
        border-color: $color-main-2;
        padding-bottom: $row-padding;

        .heading-items {
            display: flex;
            flex-direction: row;

            .product-name-and-avail {
                width: 100%;

                .product-heading {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    font-size: $size-h1;
                    flex-wrap: wrap;
                    overflow: clip;

                    @media (min-width: $breakpoint-small) {
                        row-gap: $item-gap-1;
                    }

                    @media (max-width: $breakpoint-small) {
                        display: flex;
                        flex-direction: column;
                        column-gap: $item-gap-1;
                    }

                    .product-links {
                        font-size: $product-links-size;
                        font-weight: $font-weight-1;
                        display: flex;
                        flex-direction: row;
                        column-gap: $item-gap-1;

                        .product-edit-link {
                            cursor: pointer;
                            width: auto;
                        }
                    }
                }

                .product-avail-1 {
                    color: darkgreen;
                }

                .product-avail-0 {
                    color: darkred;
                }
            }
        }

        .ad-info-and-location {
            display: flex;
            flex-direction: row;
            gap: $item-gap-1;
        }

        .images-and-pricing {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: $item-gap-1;

            @media (max-width: $breakpoint-large) {
                flex-direction: column;
            }

            .images {
            }

            .pricing {
                display: flex;
                flex-direction: column;
                background-color: $color-neutral-1;
                border-radius: $border-radius;
                border: $border;
                padding: $item-padding;
                gap: $item-gap-1;

                .rent-options {

                    .rent-dates {
                        color: $color-main-1;
                        padding-bottom: $row-padding;
                        display: flex;
                        flex-direction: row;
                        gap: $item-gap-1;

                        @media (max-width: $breakpoint-small) {
                            display: flex;
                            flex-direction: column;
                        }

                        .rend-date-picker-div {
                            display: flex;
                            flex-direction: column;

                            .rent-date-label {
                                padding-left: $column-padding;
                            }

                            .rent-date-picker {
                                color: $color-main-1;
                                border-radius: $border-radius;
                                border-color: $color-main-3;
                                width: $date-picker-size;
                                border-style: solid;

                                &:focus {
                                    font-family: $font-default;
                                }
                            }
                        }
                    }

                    .rent-price {
                        border-top: solid;
                        border-color: $color-main-3;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        padding-left: $column-padding;
                        padding-right: $column-padding;

                        .rent-price-label {
                            color: $color-main-2;
                        }

                        .rent-price-total {
                            color: $color-main-2;
                        }
                    }

                    .rent-button-holder {
                        width: 100%;
                        padding-top: $row-padding;

                        .rent-button {
                            width: 100%;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }

    .product-details-area {
        display: flex;
        flex-direction: column;
        gap: $item-gap-1;

        .product-details-item {
            display: flex;
            flex-direction: column;
            gap: $item-gap-1;
            border-radius: $border-radius;
            background-color: $color-neutral-1;
            padding: $item-padding;
        }

        .product-details-nav-btn {
            padding-top: $item-padding;
            font-weight: $font-weight-2;

            .button-secondary {
                border-color: $color-main-3;
            }
        }
    }
}
