<sgh-breadcrumb [product]="product"></sgh-breadcrumb>
<ng-template #ownerModalContent>
    <div class="owner-data-holder">
        <div class="owner-image">
            <img src="" alt="[OWNER_PROFILE_IMAGE]">
        </div>
        <div class="owner-data">
            <div class="data-part">
                <div class="label">
                    Username
                </div>
                <div class="data">
                    {{owner.username}}
                </div>
            </div>
            <div class="data-part">
                <div class="label">
                    Email
                </div>
                <div class="data">
                    {{owner.email}}
                </div>
            </div>
            <div class="data-part">
                <div class="label">
                    Phone number
                </div>
                <div class="data">
                    +40712345678
                </div>
            </div>
            <div class="data-part">
                <div class="label">
                    Address
                </div>
                <div class="data">
                    Romania, Cluj-Napoca, Str Constantin Brancoveanu 98
                </div>
            </div>
        </div>
    </div>
</ng-template>

<div class="product-details">
    <div class="product-main-area">
        <div class="heading-items">
            <div class="product-name-and-avail">
                <div class="form-heading product-heading">
                    {{product.name}}
                    <div *ngIf="product.userUid && product.userUid===getLoggedInUserUid()" class="product-links buttons">
                        <div class="product-edit-link button-default button-primary"
                             routerLink="/products/{{product.id}}/edit">
                            Edit
                        </div>
                        <sgh-popover-delete
                            [deleteData]="[]"
                            (deleteEvent)="deleteProduct()"
                        ></sgh-popover-delete>
                    </div>
                </div>
                <div class="product-category-and-subcategory">
                    {{product.categoryName}} - {{product.subCategoryName}}
                </div>
            </div>
        </div>

        <div class="ad-info-and-location">
            <div class="location">
                {{product.location}}
            </div>
        </div>

        <div class="images-and-pricing">
            <div class="images">
                <div class="image-thumbnails">
                    <div *ngFor="let imageUrl of product.imageDataUrls; let i = index" class="thumbnail"
                        (click)="carousel.select('slide-' + i)">
                        <img [src]="imageUrl" alt="Thumbnail Image">
                    </div>
                </div>
                <div *ngIf="product.imageDataUrls && product.imageDataUrls.length > 0; else defaultImage">
                    <ngb-carousel #carousel>
                        <ng-template ngbSlide *ngFor="let imageUrl of product.imageDataUrls; let i = index" [id]="'slide-' + i">
                            <div class="carousel-item">
                                <img [src]="imageUrl" alt="Product Image">
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
                <ng-template #defaultImage>
                    <img src="https://biogeo.ubbcluj.ro/wp-content/uploads/woocommerce-placeholder.png" alt="Default Image">
                </ng-template>
            </div>

            <div class="pricing">
                <div class="form-heading">{{product.rentPrice}} RON / day</div>

                <div class="rent-options">
                    <div class="rent-dates">
                        <div class="rend-date-picker-div">
                            <label class="rent-date-label">From</label>
                            <input class="rent-date-picker" type="date" name="dateFrom" [(ngModel)]="dateFrom">
                        </div>

                        <div class="rend-date-picker-div">
                            <label class="rent-date-label">To</label>
                            <input class="rent-date-picker" type="date" name="dateTo" [(ngModel)]="dateTo">
                        </div>
                    </div>

                    <div class="rent-price">
                        <label class="rent-price-label heading">Total</label>
                        <div class="rent-price-total heading">
                            {{showTotalPrice(dateFrom, dateTo, 'd')}} RON
                        </div>
                    </div>

                    <div class="rent-button-holder buttons">
                        <button class="rent-button button-default button-primary"
                                (click)="getOwnerInfo(ownerModalContent)">Get Contact
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-details-area">
        <div class="product-details-nav-btn buttons">
            <div (click)="scrollToPagePart('prod-desc')" class="button-default button-secondary">Description</div>
            <div (click)="scrollToPagePart('prod-lend-desc')" class="button-default button-secondary">About renter</div>
            <div (click)="scrollToPagePart('prod-loc')" class="button-default button-secondary">Location</div>
        </div>

        <div class="description-area product-details-item" id="prod-desc">
            <div class="form-heading">Description</div>
            <div class="product-description-content">
                {{product.description}}
            </div>
        </div>

        <div class="product-location product-details-item" id="prod-loc">
            <div class="form-heading">Location</div>
            <div class="product-location-content">
                {{product.location}}
            </div>
        </div>
    </div>
</div>
