@use '../../../style-variables.scss' as *;
@use 'sass:math';

$container-dimensions: 268.17px;
$plus-sign-width: 66px;
$plus-sign-height: 64px;
$plus-sign-font-size: 64px;
$plus-sign-line-height: 66px;
$image-width-percentage: 50%;
$image-height-percentage: 50%;

.gallery {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: $gallery-gap;
    object-fit: cover;

    .image-placeholder {
        width: $container-dimensions;
        height: $container-dimensions;
        position: relative;

        .delete-icon {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 50%;
            padding: 5px;

            .svgIcon {
                position: relative;
                width: 20px;
                height: 20px;
                fill: #ffffff;

                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 10px;
                    height: 2px;
                    background-color: #ffffff;
                }

                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 2px;
                    height: 10px;
                    background-color: #ffffff;
                }

                &:hover {
                    fill: #ff0000;
                }

                &:hover:before {
                    background-color: #ff0000;
                }

                &:hover:after {
                    background-color: #ff0000;
                }

                &:active {
                    fill: #ff0000;
                }

                &:active:before {
                    background-color: #ff0000;
                }

                &:active:after {
                    background-color: #ff0000;
                }
                
            }
        }

        .container {
            width: $container-dimensions;
            height: $container-dimensions;
            position: absolute;
            top: 0;
            left: 0;
            background: $color-main-4;
            border-radius: math.div($border-radius, 2);
            display: flex;
            justify-content: center;
            align-items: center;
            object-fit: cover;
            overflow: hidden;
            padding: 0.5px; // Adding a slight padding to avoid edge cropping

            img.uploaded-image {
                width: 100%; // Make sure the image takes up the entire space of the container
                height: 100%; // Make sure the image takes up the entire space of the container
                object-fit: cover; // Updated to cover to show as much of the image as possible, potentially cropping a little
                border-radius: math.div($border-radius, 2);
            }
        }

        .plus-sign {
            width: $plus-sign-width;
            height: $plus-sign-height;
            position: absolute;
            top: math.div($container-dimensions - $plus-sign-height, 2); // Centering it vertically
            left: math.div($container-dimensions - $plus-sign-width, 2); // Centering it horizontally
            text-align: center;
            color: $color-main-1;
            font-size: $plus-sign-font-size;
            font-family: $font-default;
            font-weight: $font-weight-bold;
            line-height: $plus-sign-line-height;
            word-wrap: break-word;
        }
    }
}