<div class="gallery">
    <div class="image-placeholder">
        <div class="container" (click)="fileInput.click()">
            <!-- Hidden file input to trigger file selection dialog -->
            <input type="file" (change)="onFileChange($event)" name="imageFiles" accept=".jpg, .jpeg, .png"
                style="display: none;" #fileInput [attr.multiple]="allowMultiple ? true : null">

            <!-- Visible image and plus sign, clicking on them will trigger the hidden file input -->
            <div class="plus-sign">+</div>

        </div>

    </div>

    <ng-container *ngIf="imageDataArray.length > 0">
        <div class="image-placeholder">
            <div class="container">
                <img *ngFor="let imageData of imageDataArray" [src]="imageData.url" alt="Uploaded Image" class="uploaded-image">
            </div>
        </div>
    </ng-container>

</div>