<input type="file" (change)="onFileChange($event)" name="imageFile" accept=".jpg, .jpeg, .png">
<img *ngIf="imageData?.url" [src]="imageData?.url" alt="Uploaded Image">
<div class="frame39475">
    <div class="card-heading">Images</div>
    <div class="frame39474">
        <div class="heading">The images will be displayed in the following order. Feel free to change this. You can
            upload a maximum of 8 images.</div>
    </div>
    <div class="gallery">
        <div class="image-placeholder">
            <div class="container"></div>
            <div class="plus-sign">+</div>
        </div>
    </div>
</div>

