<div>
    <div>
        <button routerLink="/home">&larr;Go back</button>
    </div>
    <div>
        <button routerLink="/admin/categories/new">Create new category</button>
    </div>
    <table>
        <tr>
            <td></td>
            <td>Image</td>
            <td>Name</td>
            <td>Description</td>
        </tr>
        <tr *ngFor="let category of categories">
            <td>
                <button routerLink="/admin/categories/{{category.id}}">Edit</button>
            </td>
            <td>
                <img style="width: 100px"
                     src="{{category.imageURL}}"
                     alt="Error loading img">
            </td>
            <td>{{category.name}}</td>
            <td>{{category.description}}</td>
        </tr>
    </table>
</div>
