<div class="footer">
    <div class="footer-top">
        <div class="title-and-social-media">
            <div class="title" routerLink="/">
                <img class="logo" src="../../../assets/favicon.ico" alt="Logo">
                <div class="name">
                    SportGH
                </div>
            </div>
            <div class="description">
                Equip Your Victory Rent Your Triumph!
            </div>
            <div class="social-media">
                <div class="facebook" routerLink="/">
                </div>
                <div class="twitter" routerLink="/">
                </div>
                <div class="instagram" routerLink="/">
                </div>
                <div class="linkedin" routerLink="/">
                </div>
                <div class="youtube" routerLink="/">
                </div>
            </div>
        </div>
        <div class="footer-column">
            <div class="title">
                Product
            </div>
            <div class="column">
                <div class="column-item" routerLink="/">
                    Features
                </div>
                <div class="column-item" routerLink="/">
                    Pricing
                </div>
                <div class="column-item" routerLink="/">
                    Case studies
                </div>
                <div class="column-item" routerLink="/">
                    Reviews
                </div>
                <div class="column-item" routerLink="/">
                    Updates
                </div>
            </div>
        </div>
        <div class="footer-column">
            <div class="title">
                Company
            </div>
            <div class="column">
                <div class="column-item" routerLink="/">
                    About
                </div>
                <div class="column-item" routerLink="/">
                    Contact us
                </div>
                <div class="column-item" routerLink="/">
                    Careers
                </div>
                <div class="column-item" routerLink="/">
                    Culture
                </div>
                <div class="column-item" routerLink="/">
                    Blog
                </div>
            </div>
        </div>
        <div class="footer-column">
            <div class="title">
                Support
            </div>
            <div class="column">
                <div class="column-item" routerLink="/">
                    Getting started
                </div>
                <div class="column-item" routerLink="/">
                    Help center
                </div>
                <div class="column-item" routerLink="/">
                    Server status
                </div>
                <div class="column-item" routerLink="/">
                    Report a bug
                </div>
                <div class="column-item" routerLink="/">
                    Chat support
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="copyright">
            Copyright &copy; 2023 SportGH
        </div>
        <div class="copyright">
            All Right Reserved
        </div>
        <div class="terms-and-conditions" routerLink="/">
            Terms and Conditions
        </div>
        <div class="privacy-policy" routerLink="/">
            Privacy Policy
        </div>
    </div>
</div>
