<div class="footer">
    <div class="footer-top">
        <div class="title-and-social-media">
            <div class="title">
                <img class="logo" src="../../../assets/favicon.ico" alt="Logo">
                <div class="name">
                    SportGH
                </div>
            </div>
            <div class="description">
                Lorem ipsum description about SportGH
            </div>
            <div class="social-media">
                <div>
                    &#8497;
                </div>
                <div>
                    &#8499;
                </div>
                <div>
                    &#8507;
                </div>
            </div>
        </div>
        <div class="footer-column">
            <div class="title">
                Product
            </div>
            <div class="row">
                <div class="row-item">
                    Features
                </div>
                <div class="row-item">
                    Pricing
                </div>
                <div class="row-item">
                    Case studies
                </div>
                <div class="row-item">
                    Reviews
                </div>
                <div class="row-item">
                    Updates
                </div>
            </div>
        </div>
        <div class="footer-column company">
            <div class="title">
                Company
            </div>
            <div class="row">
                <div class="row-item">
                    About
                </div>
                <div class="row-item">
                    Contact us
                </div>
                <div class="row-item">
                    Careers
                </div>
                <div class="row-item">
                    Culture
                </div>
                <div class="row-item">
                    Blog
                </div>
            </div>
        </div>
        <div class="footer-column support">
            <div class="title">
                Support
            </div>
            <div class="row">
                <div class="row-item">
                    Getting started
                </div>
                <div class="row-item">
                    Help center
                </div>
                <div class="row-item">
                    Server status
                </div>
                <div class="row-item">
                    Report a bug
                </div>
                <div class="row-item">
                    Chat support
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="copyright">
            Copyright &copy; 2023 SportGH
        </div>
        <div class="copyright">
            All Right Reserved
        </div>
        <div class="terms-and-conditions">
            Terms and Conditions
        </div>
        <div class="privacy-policy">
            Privacy Policy
        </div>
    </div>
</div>
