<ng-template #content>
    <div class="offcanvas-header">
        <h4 class="offcanvas-title">Login/Sign up</h4>
    </div>

    <div class="offcanvas-body">
        <form class="offcanvas-form" (ngSubmit)="register()">
            <input type="email" placeholder="Email address" required [(ngModel)]="email">
            <input type="password" placeholder="Password" required [(ngModel)]="password">
            <input type="submit" value="Sign-up">
        </form>
    </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary mb-2 me-2" (click)="openOffcanvas(content)">Login</button>
<button class="btn btn-lg btn-outline-primary mb-2" (click)="openOffcanvas(content)">Sign up</button>
