<ng-template #content>
    <div class="offcanvas-header">
        <h4 class="offcanvas-title">Login/Sign up</h4>
    </div>

    <div class="offcanvas-body">
        <form class="offcanvas-form">
            <input type="email" placeholder="Email address" required>
            <input type="password" placeholder="Password" required>
            <input type="submit" value="Login">
        </form>
    </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary mb-2 me-2" (click)="openOc(content)">Login/Sign up</button>
