<div class="list-edit-holder">
    <div class="form-heading form-main-title">
        {{editMode ? 'Edit' : 'Create'}} subcategory
    </div>
    <div class="general-data">
        <form class="general-data-form" (ngSubmit)="clickHandlerFunction()">
            <div class="form-part">
                <div class="form-heading">Details</div>
                <div>
                    <label class="form-part-label">Subcategory name</label>
                    <input class="form-part-input"
                           type="text" name="name"
                           [(ngModel)]="subcategory.name"
                           #name="ngModel"
                    >
                    <div class="form-check-label">
                        <sgh-form-ch-lbl
                                *ngIf="name.dirty || name.touched || buttonPushed"
                                [fieldName]="'Subcategory name'"
                                [required]="true"
                                [length]="subcategory.name?.length"
                                [minlength]="4"
                                [maxlength]="25"
                        ></sgh-form-ch-lbl>
                    </div>
                </div>
            </div>
            <div class="form-part" *ngIf="editMode">
                <div class="list-manage-holder no-inline-padding">
                    <div class="list-manage">
                        <div class="title">Custom fields</div>
                        <div class="buttons">
                            <div class="button-default button-primary" (click)="newField()">Create new custom field +</div>
                        </div>
                        <div id="customFieldsContainer" class="list-elements">
                            <div class="list-elements" *ngIf="subcategory.customFields">
                                <div class="list-element"  *ngFor="let field of subcategory.customFields; let i = index">
                                    <div class="name row-item">
                                        <input class="form-part-input"
                                               type="text" name="name"
                                               [(ngModel)]="field.name"
                                               #name="ngModel"
                                        >
                                    </div>
                                    <div class="name row-item">
                                        <select class="nav-link" (change)="onSelectChange($event, i)">
                                            <option value="" disabled selected>{{field.type}}</option>
                                            <option *ngFor="let value of Object.values(CustomFieldType)" [value]="value">{{ value }}</option>
                                        </select>
                                    </div>
                                    <div class="row-item">
<!--                                        <div class="buttons">-->
<!--                                            <div class="button-default button-primary" routerLink="/admin/categories/{{subcategory.id}}/subcategories/{{subcategory.id}}">-->
<!--                                                Edit-->
<!--                                            </div>-->
<!--                                        </div>-->
                                        <sgh-popover-delete
                                                [deleteData]="[subcategory.id?subcategory.id:0, i]"
                                                (deleteEvent)="deleteCustomField($event, subcategory.categoryId)"
                                        ></sgh-popover-delete>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="edit-btn-holder buttons">
                <button
                        class="button-primary button-default save-btn"
                        type="submit">
                    {{editMode ? "Save" : "Publish"}}
                </button>
                <button class="button-secondary button-default cancel-btn"
                        routerLink="/admin/categories/{{subcategory.categoryId}}">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>
