@use '../../../style-variables.scss' as *;

$button-width: 250px;
$delete-btn-width: 90px;
$page-padding: 10px;
$item-gap: 10px;
$item-max-width: 200px;

.table {
    background-color: $color-main-3;
    border-radius: $border-radius;
    border-color: $color-main-1;
    padding-block: $page-padding;
    margin-top: 1rem;
    border-collapse: unset;
    vertical-align: initial;
    --bs-table-color: initial;
    font-size: initial;

    td {
        text-align: center;
    }

    th {
        font-size: 170%;
        padding-left: 20px;
    }

    .type {
        padding-left: 7%;
    }

    .nav-link {
        display: initial;
    }

    .button-container {
        max-width: 100px;
    }

    .row-item {
        background-color: $color-main-3;
        gap: $item-gap;

        .buttons {
            width: $delete-btn-width;

            div {
                width: 100%;
            }
        }

        input {
            outline: none;
            border-color: $color-main-2;
            width: initial;
        }
    }

    .name {
        width: $item-max-width;
        font-size: $size-h2;
        font-weight: $font-weight-bold;
    }
}

td {
    background-color: $color-main-3;
}

.list-edit-holder {
    padding-inline: $main-padding-inline;
}

@mixin list-manage-holder-styles($includePadding: true) {
    color: $color-main-1;
    padding-inline: if($includePadding, $main-padding-inline, 0);

    .list-manage {

        .title {
            font-size: $size-h1;
            font-weight: $font-weight-bold;
            padding: 5px;
        }

        .buttons {
            padding-block: 5px;
            width: $button-width;
        }
    }
}


.list-manage-holder {
    @include list-manage-holder-styles();

    &.no-inline-padding {
        @include list-manage-holder-styles(false);
    }
}
