/* Reset some HTML elements to avoid different browser interpretations */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Container */
.app-root {
    width: 90%;
    margin: auto;
    max-width: 1200px;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
    color: #333;
    margin-bottom: 10px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

/* Paragraphs */
p {
    margin-bottom: 10px;
}

/* Lists */
ul, ol {
    margin-bottom: 10px;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


/*
Global variables
 */

// Colors
$colorNeutral: #FFFFFF;
$colorMain1: #5D5A88;
$colorMain2: #8D8BA7;
$colorMain3: #F2F1FA;

// Fonts
$fontDef: 'DM Sans';
$fontNav: 'Text single/200/Regular';
$fontButton: 'Text single/100/Bold';
$fontCard1: 'Text single/200/Bold';
$fontCard2: 'Text single/300/Bold';

// Text size
$sizeH1: 63px;
$sizeH2: 40px;
$sizeH3: 25px;
$sizeDef: 18px;
$sizeCard1: 25px;
$sizeCard2: 29px;

// Margin/Border/Gap/Padding
$navbarGap: 33px;
$navbarHeaderFrameGap: 10px;
$navbarHeaderGap: 195px;
$navbarHeight: 50px;
$navbarItemPosTop: 8px;
$navbarItemPosLeft: auto;
$navbarHeaderPadding: 0px 120px;

/*
Global classes
 */

//
// Navbar
//
.navbar-header-frame {
    display: flex;
    width: auto;
    background-color: $colorNeutral;
    padding: $navbarHeaderPadding;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $navbarHeaderFrameGap;
}

.navbar-header {
    display: flex;
    width: auto;
    padding: $navbarHeaderPadding;
    justify-content: center;
    align-items: center;
    gap: $navbarHeaderGap;
}

.navbar-frame {
    width: auto;
    height: $navbarHeight;
    background-color: $colorMain1;
}

.navbar {
    font: $fontDef;
    font-size: $sizeDef;
    color: $colorNeutral;
    background-color: $colorMain1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $navbarGap;
    position: absolute;
    left: $navbarItemPosLeft;
    top: $navbarItemPosTop;
}

//
// Carousel
//
.carousel-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 65vh;
}
