/* Reset some HTML elements to avoid different browser interpretations */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Container */
.app-root {
    width: 90%;
    margin: auto;
    max-width: 1200px;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
    color: #333;
    margin-bottom: 10px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

/* Paragraphs */
p {
    margin-bottom: 10px;
}

/* Lists */
ul, ol {
    margin-bottom: 10px;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


/*
Global variables
 */

// Colors
$colorNeutral: #FFFFFF;
$colorMain1: #5D5A88;
$colorMain2: #8D8BA7;
$colorMain3: #F2F1FA;
$colorInputBackground: $colorMain3;
$colorBtn1: $colorNeutral;
$colorBtn2: $colorMain1;

// Fonts
$fontDef: 'DM Sans';
$fontNav: 'Text single/200/Regular';
$fontButton: 'Text single/100/Bold';
$fontCard1: 'Text single/200/Bold';
$fontCard2: 'Text single/300/Bold';

// Text Size
$sizeH1: 63px;
$sizeH2: 40px;
$sizeH3: 25px;
$sizeDef: 18px;

// Item Size
$heightNavHeader: 80px;
$heightNav: 50px;
$heightBtn: 35px;
$widthBtn1: 65px;
$widthBtn2: 85px;
$widthNavSearchbar: 300px; // fit-content?
$heightNavSearchbar: 35px;

// Margin/Border/Padding
$posLeftNavItem: auto;
$paddingNavHeader: 0px 75px;
$borderRadiusInput: 15px;
$borderRadiusBtn: 25px;

// Gap
$gapNav: 33px;
$gapNavHeader: 65px;
$gapNavHeaderFrame: 10px;
$gapNavHeaderIcon: 15px;
$gapNavButton: 10px;

/*
Global classes
 */

//
// Navbar
//
.navbar-header-frame {
    width: auto;
    background-color: $colorNeutral;
    padding: $paddingNavHeader;
    justify-content: center;
    align-items: center;
    gap: $gapNavHeaderFrame;
}

.navbar-header {
    display: flex;
    flex-direction: row;
    width: auto;
    height: $heightNavHeader;
    padding: $paddingNavHeader;
    justify-content: center;
    align-items: center;
    gap: $gapNavHeader;
}

.navbar-header-icon {
    display: flex;
    flex-direction: row;
    gap: $gapNavHeaderIcon;
}

.navbar-header-searchbar {
    width: $widthNavSearchbar;
    height: $heightNavSearchbar;
    border-radius: $borderRadiusInput;
    background-color: $colorInputBackground;
}

.navbar-header-buttons {
    display: flex;
    flex-direction: row;
    gap: $gapNavButton;
}

.sign-in-btn {
    height: $heightBtn;
    width: $widthBtn2;
    border-radius: $borderRadiusBtn;
    color: $colorMain1;
    background-color: $colorBtn1;
}

.sign-up-btn {
    height: $heightBtn;
    width: $widthBtn2;
    border-radius: $borderRadiusBtn;
    color: $colorNeutral;
    background-color: $colorBtn2;
}

.navbar-frame {
    position: relative;
    display: flex;
    justify-content: center;
    width: auto;
    height: $heightNav;
    background-color: $colorMain1;
}

.navbar {
    font: $fontDef;
    font-size: $sizeDef;
    color: $colorNeutral;
    background-color: $colorMain1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gapNav;
    position: absolute;
    left: $posLeftNavItem;
    top: auto;
}

//
// Carousel
//
.carousel-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 65vh;
}
