/*
Global variables
 */


// Img URLs
$nav-header-logo-icon: url("Info.svg");

// Colors
$color-neutral-1: #FFFFFF;
$color-neutral-2: #000000;
$color-main-1: #5D5A88;
$color-main-2: #8D8BA7;
$color-main-4: #b8b8be;
$color-main-3: #F2F1FA;
$color-btn-1: $color-neutral-1;
$color-btn-2: $color-main-1;

// Fonts
$font-default: 'DM Sans', sans-serif;

// Text Size
$size-h1: 175%;
$size-h2: 130%;
$size-h3: 115%;
$size-default: 100%;
