/* Reset some HTML elements to avoid different browser interpretations */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

/* Container */
.app-root {
  width: 90%;
  margin: auto;
  max-width: 1200px;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
  color: #333;
  margin-bottom: 10px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

/* Paragraphs */
p {
  margin-bottom: 10px;
}

/* Lists */
ul, ol {
  margin-bottom: 10px;
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.carousel-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 65vh;
}

.adminForm {
    border-style: solid;
}
