<div class="form-check-label">
    <label *ngIf="!isNumber(value) && !value">
        &#9888; {{fieldName}} should be a number.
    </label>
    <label *ngIf="required && ">
        &#9888; {{fieldName}} is required.
    </label>
    <label *ngIf="minlength && length && minlength>length">
        &#9888; {{fieldName}} must be at least {{minlength}} characters long.
    </label>
    <label *ngIf="maxlength && length && maxlength<length">
        &#9888; {{fieldName}} must be less than {{maxlength}} characters long.
    </label>
    <label *ngIf="(min || min===0) && value && min>value">
        &#9888; {{fieldName}} should be more than or equal to {{min}}.
    </label>
    <label *ngIf="(max || max===0) && value && max<value">
        &#9888; {{fieldName}} should be less than or equal to {{max}}.
    </label>
</div>
