@use '../../../style-variables.scss' as *;

$item-gap: 15px;
$map-height: 500px;

.product-add-div {
    padding-inline: $main-padding-inline;

    .images {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: $item-gap;
        overflow-x: auto;
        // left aligned

    }

    .product-pricing {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media (max-width: 900px) {
            display: flex;
            flex-direction: column;
        }
    }

    .product-address-map {
        width: 100%;
        height: $map-height;
        padding: 0;
        border-radius: $border-radius;
        border-style: solid;
        border-color: $color-main-3;
    }

    .contact {

        .public-contact {
            display: flex;
            flex-direction: row;
            gap: $item-gap;
            align-items: center;
        }
    }
}
