<div class="product-add-div">
    <div class="heading main-title">{{editMode ? "Edit" : "Add"}} listing</div>
    <div class="general-data">
        <div class="general-data-heading"></div>
        <form class="general-data-form" (ngSubmit)="clickHandlerFunction()">
            <div class="form-part">
                <div class="heading">Details</div>
                <div>
                    <label class="form-part-label">Listing name</label>
                    <input class="product-name form-part-input" type="text" name="name" [(ngModel)]="product.name">
                </div>
                <div>
                    <label class="form-part-label">Category</label>
                    <select class="product-category form-part-input"
                            [(ngModel)]="product.categoryId" name="categoryId"
                            (change)="getSubcategoriesByCategoryId()"
                    >
                        <option class="product-category form-part-input" *ngFor="let category of categories"
                                [ngValue]="category.id">{{category.name}}</option>
                    </select>
                </div>
                <div>
                    <label class="form-part-label">Subcategory</label>
                    <select class="product-subcategory form-part-input" [disabled]="subcategoryDropdownDisabled"
                            [(ngModel)]="product.subCategoryId" name="subcategoryId">
                        <option class="product-category form-part-input" *ngFor="let subcategory of subcategories"
                                value="{{subcategory.id}}">{{subcategory.name}}</option>
                    </select>
                </div>
                <div>
                    <label class="form-part-label">Description</label>
                    <textarea class="product-description form-part-input" type="text" name="description"
                              [(ngModel)]="product.description"></textarea>
                </div>
            </div>
            <div class="images form-part">
                <div class="heading">Images</div>
                <div class="product-images">
                    [IMAGE UPLOAD]
                </div>
            </div>
            <div class="location form-part">
                <div class="heading">Location</div>
                <div class="product-location">
                    <div>
                        <label class="form-part-label">Type address</label>
                        <input class="product-address-text form-part-input" type="text" name="location"
                               [(ngModel)]="product.location">
                    </div>
                    or<br>
                    <div>
                        <label class="form-part-label">Choose on map</label>
                        <div class="product-address-map">
                            [MAP LOCATION PICKER]
                        </div>
                    </div>
                </div>
            </div>
            <div class="availability form-part">
                <div class="heading">Availability</div>
                <div class="product-availability">
                    <div>
                        <label class="form-part-label">From</label>
                        <input class="form-part-input" type="date">
                    </div>
                    <div>
                        <label class="form-part-label">To</label>
                        <input class="form-part-input" type="date">
                    </div>
                </div>
            </div>
            <div class="pricing form-part">
                <div class="heading">Pricing</div>
                <div class="product-pricing">
                    <div>
                        <label class="form-part-label">Hourly rent price</label>
                        <input class="form-part-input product-price-h" type="number" min="0" disabled>

                    </div>
                    <div>
                        <label class="form-part-label">Daily rent price</label>
                        <input class="form-part-input product-price-d" type="number" min="0" name="price"
                               [(ngModel)]="product.rentPrice">
                    </div>
                    <div>
                        <label class="form-part-label">Weekly rent price</label>
                        <input class="form-part-input product-price-w" type="number" min="0" disabled>
                    </div>
                </div>
            </div>

            <div class="edit-btn-holder buttons">
                <button [disabled]="checkForm(true,true)"
                        class="button-primary button-default save-btn"
                        type="submit">
                    {{editMode ? "Save" : "Publish"}}
                </button>
                <button class="button-secondary button-default cancel-btn"
                        (click)="cancelEdit(editMode ? '/products/' + product.id : '/')">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>
