@use '../../../style-variables.scss' as *;

.product-add-div {
    padding-inline: $main-padding-inline;

    .product-pricing {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media (max-width: 900px) {
            display: flex;
            flex-direction: column;
        }
    }
}
