<ul ngbNav #nav="ngbNav" [activeId]="2" class="navbar-custom">
    <li [ngbNavItem]="1" ngbDropdown class="nav-item navbar-item">
        <button type="button" class="nav-link" ngbDropdownToggle>Sports</button>
        <div ngbDropdownMenu>
            <button *ngFor="let sport of ['sp1','sp2','sp3','sp4','sp5']" ngbDropdownItem>
                <a><!--routerLink="categories/id/sub" -->{{sport}}</a>
            </button>
        </div>
    </li>
    <li [ngbNavItem]="2" class="nav-item navbar-item">
        <div>
            <a routerLink="/home">Home</a>
        </div>
    </li>
    <li [ngbNavItem]="3" class="nav-item navbar-item">
        <div>
            About
        </div>
    </li>
    <li [ngbNavItem]="4" class="nav-item navbar-item">
        <div>
            Contact
        </div>
    </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
