@import '../../../style-variables.scss';

// Media size
$mediaWidthLimit: 640px;

// Item Size
$heightNavHeader: 4.25em;
$heightNav: 2.7em;
$widthNavSearchbar: 100%;
$heightNavSearchbar: 2.15em;

// Margin/Border/Padding
$paddingNavHoriz: 10%;
$paddingNavVert: 15px;
$paddingLeftSearchbar: 2.5em;
$borderInput: 0.1em solid transparent;
$borderRadiusSearchbar: 2.5em;
$posSearchbarIcon: 1em;

// Gap
$gapNav1: 33px;
$gapNav2: 15px;
$rowGapNav: 15px;
$gapNavHeaderIcon: 0.5em;

// Box-shadow
$boxShadowSearchbar1: 0 0 3px;
$boxShadowSearchbar2: 0 0 0 5px;


//
// Font
//
body {
    font-family: $fontDef;
}


//
// Nav (header, title, searchbar, login)
//
.nav-header-frame {
    background-color: $colorNeutral1;
    padding-left: $paddingNavHoriz;
    padding-right: $paddingNavHoriz;

    .nav-header-content {
        display: flex;
        @media (max-width: $mediaWidthLimit) {
            flex-direction: column;
            row-gap: $rowGapNav;
            padding-top: $paddingNavVert;
            padding-bottom: $paddingNavVert;
        }
        @media(min-width: $mediaWidthLimit) {
            flex-direction: row;
            height: $heightNavHeader;
            justify-content: space-between;
            gap: $gapNav1
        }
        justify-content: space-between;
        align-items: center;

        .nav-header-logo {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: $gapNavHeaderIcon;

            .nav-header-logo-icon {
                content: $navHeaderLogoIcon;
            }

            .nav-header-logo-title {
                font-size: $sizeH1;
                font-weight: bold;
                color: $colorMain1;
            }
        }

        .nav-searchbar {
            @media (max-width: $mediaWidthLimit) {
                visibility: collapse;
            }
            display: flex;
            align-items: center;
            position: relative;

            .nav-searchbar-icon {
                position: absolute;
                left: $posSearchbarIcon;
                fill: $colorMain1;
                width: $posSearchbarIcon;
                height: $posSearchbarIcon;
            }

            .nav-searchbar-input {
                height: $heightNavSearchbar;
                width: $widthNavSearchbar;
                padding-left: $paddingLeftSearchbar;
                border: $borderInput;
                border-radius: $borderRadiusSearchbar;
                outline: none;
                background-color: $colorMain3;
                box-shadow: $boxShadowSearchbar1 $colorMain2, $boxShadowSearchbar2 $colorMain3;
                transition: .3s ease;

                &:hover {
                    background-color: $colorNeutral1;
                    box-shadow: $boxShadowSearchbar1 $colorMain3, $boxShadowSearchbar2 $colorMain2;
                }

                &:focus {
                    background-color: $colorNeutral1;
                    box-shadow: $boxShadowSearchbar1 $colorMain3, $boxShadowSearchbar2 $colorMain2;
                }
            }
        }
    }
}


//
// Nav (with menu options)
//
.nav-frame {
    position: relative;
    display: flex;
    justify-content: flex-start;
    @media(min-width: $mediaWidthLimit) {
        height: $heightNav;
    }
    padding-left: $paddingNavHoriz;
    background-color: $colorMain1;

    .nav-content {
        display: flex;
        @media (max-width: $mediaWidthLimit) {
            flex-direction: column;
            row-gap: $gapNav2;
            align-items: unset;
        }
        @media(min-width: $mediaWidthLimit) {
            flex-direction: row;
            gap: $gapNav1;
            align-items: center;
        }

        font-size: $sizeDef;
        color: $colorNeutral1;
        background-color: $colorMain1;
        position: relative;

        .nav-content-link {
            font-size: $sizeDef;

            a {
                color: $colorNeutral1;
                text-decoration: none;
            }
        }
    }
}
