<div ngbNav></div>
<ul ngbNav #nav="ngbNav" [activeId]="1" class="navbar-custom">
    <li [ngbNavItem]="1" ngbDropdown class="nav-item">
        <button type="button" class="nav-link navbar-btn" ngbDropdownToggle>Sports</button>
        <div ngbDropdownMenu>
            <button *ngFor="let sport of ['sp1','sp2','sp3','sp4','sp5']" ngbDropdownItem>
                <a><!--routerLink="categories/id/sub" -->{{sport}}</a>
            </button>
        </div>
    </li>
    <li [ngbNavItem]="2" class="nav-item">
        <div>
            <a class="navbar-btn" routerLink="/home">Home</a>
        </div>
    </li>
    <li [ngbNavItem]="3" class="nav-item">
        <div>
            <a class="navbar-btn" routerLink="">About</a>
        </div>
    </li>
    <li [ngbNavItem]="4" class="nav-item">
        <div>
            <a class="navbar-btn" routerLink="">Contact</a>
        </div>
    </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
