@import '../../../style-variables.scss';

$mediaWidthLimit: 580px;

// Item Size
$heightNavHeader: 4.25em;
$heightNav: 2.7em;
$widthNavSearchbar: 100%;
$heightNavSearchbar: 2.15em;
$sizeSearchbarIcon: 1em;

// Margin/Border/Padding
$posLeftNavItem: auto;
$paddingNavHeader: auto;
$borderInput: 0.1em solid transparent;
$borderRadiusSearchbar: 2.5em;
$paddingNavSearchbar: 0 0 0 2.5em;
$marginNav: 10px;
$marginNavHeader: 15px;

// Gap
$gapNav1: 15%;
$gapNav2: 15px;
$gapNavHeader1: 10%;
$gapNavHeader2: 15px;
$gapNavHeaderFrame: 10%;
$gapNavHeaderIcon: 0.5em;

// Box-shadow
$boxShadowSearchbar1: 0 0 3px;
$boxShadowSearchbar2: 0 0 0 5px;


//
// Nav (header, title, searchbar, login)
//
.nav-header-frame {
    width: auto;
    background-color: $colorNeutral1;
    padding: $paddingNavHeader;
    gap: $gapNavHeaderFrame;

    .nav-header-content {
        display: flex;
        @media (max-width: $mediaWidthLimit) {
            flex-direction: column;
            row-gap: $gapNavHeader2;
        }
        @media(min-width: $mediaWidthLimit) {
            flex-direction: row;
            height: $heightNavHeader;
            gap: $gapNavHeader1;
        }
        margin: $marginNavHeader;
        padding: $paddingNavHeader;
        justify-content: center;
        align-items: center;

        .nav-header-logo {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: $gapNavHeaderIcon;

            .nav-header-logo-icon {
                content: $navHeaderLogoIcon;
            }

            .nav-header-logo-title {
                font-size: $sizeH1;
                font-weight: bold;
                color: $colorMain1;
            }
        }

        .nav-searchbar {
            @media (max-width: $mediaWidthLimit) {
                // visibility: hidden;
            }
            display: flex;
            align-items: center;
            position: relative;

            .nav-searchbar-icon {
                position: absolute;
                left: $sizeSearchbarIcon;
                fill: $colorMain1;
                width: $sizeSearchbarIcon;
                height: $sizeSearchbarIcon;
            }

            .nav-searchbar-input {
                height: $heightNavSearchbar;
                width: $widthNavSearchbar;
                padding: $paddingNavSearchbar;
                border: $borderInput;
                border-radius: $borderRadiusSearchbar;
                outline: none;
                background-color: $colorMain3;
                box-shadow: $boxShadowSearchbar1 $colorMain2, $boxShadowSearchbar2 $colorMain3;
                transition: .3s ease;

                &:hover {
                    background-color: $colorNeutral1;
                    box-shadow: $boxShadowSearchbar1 $colorMain3, $boxShadowSearchbar2 $colorMain2;
                }

                &:focus {
                    background-color: $colorNeutral1;
                    box-shadow: $boxShadowSearchbar1 $colorMain3, $boxShadowSearchbar2 $colorMain2;
                }
            }
        }
    }
}


//
// Nav (with menu options)
//
.nav-frame {
    position: relative;
    display: flex;
    justify-content: center;
    @media(min-width: $mediaWidthLimit) {
        height: $heightNav;
    }
    background-color: $colorMain1;

    .nav-content {
        display: flex;
        @media (max-width: $mediaWidthLimit) {
            flex-direction: column;
            row-gap: $gapNav2;
        }
        @media(min-width: $mediaWidthLimit) {
            flex-direction: row;
            gap: $gapNav1;
        }

        margin: $marginNav;
        font: $fontDef;
        font-size: $sizeDef;
        color: $colorNeutral1;
        background-color: $colorMain1;
        justify-content: center;
        align-items: center;
        position: relative;
        left: $posLeftNavItem;

        .nav-content-link {
            font-size: $sizeDef;

            a {
                color: $colorNeutral1;
                text-decoration: none;
            }
        }
    }
}
