@use '../../../style-variables.scss' as *;

$map-height: 500px;

.map {
    width: 100%;
    height: $map-height;
    padding: 0;
    border-radius: $border-radius;
    border-style: solid;
    border-color: $color-main-3;
}
