<div class="map-holder">
    <div>
        <label class="form-part-label">Type address</label>
        <input class="product-address-text form-part-input"
               type="text"
               name="location"
               (focusout)="getLocationCoordinates()"
               (keydown)="triggerGetLocationCoordinates()"
               [(ngModel)]="address"
        >
    </div>
    or<br>
    <div class="map-part">
        <label class="form-part-label">Choose on map</label>
        <div class="map"
             leaflet
             [leafletOptions]="options"
             (leafletMapReady)="onMapReady($event)"
             (leafletClick)="moveMarkerToNewPosition($event)"
        >
        </div>
    </div>
</div>
