<div class="product-filter-holder">
    <div *ngFor="let filter of paramNames; let i = index">
        <div class="buttons">
            <div
                class="button-default button-secondary button-content"
                (click)="isCollapsed[i] = ! isCollapsed[i]"
                [attr.aria-expanded]="!isCollapsed"
            >
                <div class="button-text">
                    {{filter}}
                </div>
                <div class="button-arrow" *ngIf="isCollapsed[i]">&darr;</div>
                <div class="button-arrow" *ngIf="!isCollapsed[i]">&uarr;</div>
            </div>
        </div>
        <div [(ngbCollapse)]="isCollapsed[i]">
            <div class="filter-item">
                <select class="filter-select"
                        [(ngModel)]="paramOptions[filter]"
                >
                    <option *ngFor="let data of getParamData(filter)" [ngValue]="data.id">{{data.name}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="buttons">
        <div class="button-default button-primary" (click)="filterBy()">
            Search
        </div>
    </div>
</div>
