<div class="product-filter-holder">
    <div *ngFor="let i of range(0,nrOfFilters)">
        <div class="buttons">
            <div
                class="button-default button-secondary button-content"
                (click)="isCollapsed[i] = ! isCollapsed[i]"
                [attr.aria-expanded]="!isCollapsed"
            >
                <div class="button-text">
                    Filter {{i}}
                </div>
                <div class="button-arrow" *ngIf="isCollapsed[i]">&darr;</div>
                <div class="button-arrow" *ngIf="!isCollapsed[i]">&uarr;</div>
            </div>
        </div>
        <div #collapse{{i}}="ngbCollapse" [(ngbCollapse)]="isCollapsed[i]">
            <div class="filter-item">This is collapse nr {{i}}</div>
        </div>
    </div>

<!--    Test only-->
    <div class="order-by-holder">
        Order by
        <select class="order-by"
            [(ngModel)]="orderByElement" name="orderByElement"
            #orderByElem="ngModel"
            (change)="orderBy()"
        >
            <option [ngValue]="'name'">Name</option>
            <option [ngValue]="'price-lowest'">Lowest price first</option>
            <option [ngValue]="'price-highest'">Highest price first</option>
            <option [ngValue]="'newest'" selected>Newest (by upload date)</option>
<!--            'selected' doesn't work-->
        </select>
    </div>
</div>
