@use '../../../style-variables.scss' as *;

$button-width: 200px;
$edit-btn-width: 90px;
$page-padding: 20px;
$item-gap: 10px;
$image-max-height: 100px;
$item-max-width: 200px;


.category-list-manage-holder {
    color: $color-main-1;
    padding-inline: $main-padding-inline;

    .category-list-manage {
        padding: $page-padding;
        border-radius: $border-radius;
        background-color: $color-neutral-1;
        display: flex;
        flex-direction: column;

        .title {
            font-size: $size-h1;
            font-weight: $font-weight-bold;
            padding: $page-padding;
        }

        .buttons {
            padding-block: 5px;
            width: $button-width;
        }

        .categories {
            padding-block: $page-padding;
            display: flex;
            flex-direction: column;
            gap: $item-gap;

            .category {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding-inline: $page-padding;
                gap: $item-gap;
                border-radius: $border-radius;
                background-color: $color-main-3;
                align-items: center;
                justify-content: space-between;

                .row-item {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: $item-gap;

                    .buttons {
                        width: $edit-btn-width;

                        div {
                            width: 100%;
                        }
                    }
                }

                .image-holder {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: $item-gap;
                    height: $image-max-height;
                    width: $item-max-width;

                    .image {
                        height: 100%;
                    }
                }

                .name {
                    width: $item-max-width;
                    font-size: $size-h2;
                    font-weight: $font-weight-bold;
                }
            }
        }
    }
}
