<ng-template #loginContent>
    <form class="modal-form form" (ngSubmit)="login()">
        <p class="title">Login</p>
        <p class="message">Enter your login credentials below.</p>
        <label>
            <input class="input" type="email" required [ngClass]="{'not-empty': email !== ''}" [(ngModel)]="email" name="email" autocomplete="username">
            <span>Email</span>
        </label>
        <label>
            <input class="input" type="password" required [(ngModel)]="password" name="password" autocomplete="current-password">
            <span>Password</span>
        </label>
        <p class="account-yet"><a (click)="openModal(forgotPassword)">Forgot password?</a></p>
        <div class="buttons">
            <div>
                <button class="button-primary button-default" type="submit" value="Login">
                    <svg class="sign-in-icon" width="14" height="19" viewBox="0 0 14 19" fill="none">
                        <path
                                d="M11.1667 7.61627H2.83333C1.68274 7.61627 0.75 8.54901 0.75 9.69961V15.9496C0.75 17.1002 1.68274 18.0329 2.83333 18.0329H11.1667C12.3173 18.0329 13.25 17.1002 13.25 15.9496V9.69961C13.25 8.54901 12.3173 7.61627 11.1667 7.61627Z"
                                stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M2.83334 5.53294 A 4.16667 4.16667 0 1 1 11.1667 5.53294" stroke-width="1.4"
                              stroke-linecap="round" stroke-linejoin="round" class="upper-part"/>
                    </svg>
                    Login
                </button>
            </div>
        </div>
        <p class="account-yet">Don't have an account? <a (click)="openModal(signupContent)">Sign up</a></p>
        <div class="or-text">
            <span></span>
            <span>OR</span>
            <span></span>
        </div>
        <div class="formGroup">
            <button class="button" type="button" (click)="googleLogin()">
                <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" viewBox="0 0 256 262">
                    <path fill="#4285F4" d="M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622 38.755 30.023 2.685.268c24.659-22.774 38.875-56.282 38.875-96.027"></path>
                    <path fill="#34A853" d="M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055-34.523 0-63.824-22.773-74.269-54.25l-1.531.130-40.298 31.187-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1"></path>
                    <path fill="#FBBC05" d="M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82 0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782"></path>
                    <path fill="#EB4335" d="M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0 79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251"></path>
                </svg>
                Continue with Google
            </button>
        </div>
    </form>
</ng-template>

<ng-template #signupContent>
    <form class="form" (ngSubmit)="register()">
        <p class="title">Sign up</p>
        <p class="message">Signup now and get full access to our app. </p>
        <label>
            <input class="input" type="email" required [(ngModel)]="email" name="email" autocomplete="username">
            <span>Email</span>
        </label>
        <label>
            <input class="input" type="password" required [(ngModel)]="password" name="password" autocomplete="current-password">
            <span>Password</span>
        </label>
        <div class="buttons">
            <div>
                <button class="button-primary button-default" type="submit" value="Sign-up">
                    <svg width="20" viewBox="0 0 20 20" height="20" fill="none"
                         class="svg-icon">
                        <g stroke-width="1.5" stroke-linecap="round">
                            <circle r="7.5" cy="10" cx="10"></circle>
                            <path d="m9.99998 7.5v5"></path>
                            <path d="m7.5 9.99998h5"></path>
                        </g>
                    </svg>
                    Sign-up
                </button>
            </div>
        </div>
        <p class="account-yet">Already have an account? <a (click)="openModal(loginContent)">Sign-in</a></p>
        <div class="or-text">
            <span></span>
            <span>OR</span>
            <span></span>
        </div>
        <div class="formGroup">
            <button class="button" type="button" (click)="googleSignup()">
                <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" viewBox="0 0 256 262">
                    <path fill="#4285F4" d="M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622 38.755 30.023 2.685.268c24.659-22.774 38.875-56.282 38.875-96.027"></path>
                    <path fill="#34A853" d="M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055-34.523 0-63.824-22.773-74.269-54.25l-1.531.13-40.298 31.187-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1"></path>
                    <path fill="#FBBC05" d="M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82 0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782"></path>
                    <path fill="#EB4335" d="M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0 79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251"></path>
                </svg>
                Continue with Google
            </button>
        </div>
    </form>
</ng-template>

<ng-template #forgotPassword>
    <form class="form" (ngSubmit)="resetPassword()">
        <p class="title">Forgot password</p>
        <p class="message">Enter your email address below to receive the link.</p>
        <label>
            <input class="input" type="email" required [(ngModel)]="email" name="email">
            <span>Email</span>
        </label>
        <div class="buttons">
            <div>
                <button class="button-secondary button-default" type="submit" value="Reset password">
                    <svg width="20" viewBox="0 0 20 20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"
                         class="reset-icon">
                        <g fill="none" fill-rule="evenodd" stroke-linecap="round"
                           stroke-linejoin="round" transform="matrix(0 1 1 0 2.5 2.5)">
                            <path d="m3.98652376 1.07807068c-2.38377179 1.38514556-3.98652376 3.96636605-3.98652376 6.92192932 0 4.418278 3.581722 8 8 8s8-3.581722 8-8-3.581722-8-8-8"/>
                            <path d="m4 1v4h-4" transform="matrix(1 0 0 -1 0 6)"/>
                        </g>
                    </svg>
                    Reset password
                </button>
            </div>
        </div>
        <p class="account-yet">Don't have an account? <a (click)="openModal(signupContent)">Sign up</a></p>
    </form>
</ng-template>

<ng-template #changePasswordContent>
    <div class="modal-form form">
        <ng-container *ngIf="!changePassword">
            <p class="account-yet"><a (click)="openModal(forgotPassword)">Change password</a></p>
        </ng-container>
        <ng-container *ngIf="changePassword">
            <p class="account-yet"><a (click)="resetPassword()">Change password</a></p>
        </ng-container>
    </div>
</ng-template>

<ng-container *ngIf="changePassword;">
    <ng-container *ngTemplateOutlet="changePasswordContent"></ng-container>
</ng-container>

<ng-container *ngIf="loggedInUserEmail && !changePassword;">
    <div class="auth-buttons">
        <sgh-requests class="requests-button"></sgh-requests>
        <div class="buttons">
            <div class="profile-dropdown">
                <button class="profile-icon" (click)="toggleDropdown()">
                    <svg width="60" height="60" viewBox="0 0 24 24" fill="currentColor"
                         transform="rotate(0)matrix(-1, 0, 0, 1, 0, 0)">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM9.5 9.5C9.5 8.11875 10.6188 7 12 7C13.3813 7 14.5 8.11875 14.5 9.5C14.5 10.8813 13.3813 12 12 12C10.6188 12 9.5 10.8813 9.5 9.5ZM12 8.25C12.6875 8.25 13.25 8.8125 13.25 9.5C13.25 10.1875 12.6875 10.75 12 10.75C11.3125 10.75 10.75 10.1875 10.75 9.5C10.75 8.8125 11.3125 8.25 12 8.25ZM12 14.5C13.6875 14.5 15.625 15.3063 15.75 15.75H8.25C8.39375 15.3 10.3188 14.5 12 14.5ZM12 13.25C10.3313 13.25 7 14.0875 7 15.75V17H17V15.75C17 14.0875 13.6687 13.25 12 13.25Z"
                                  fill="#5D5A88"></path>
                        </g>
                    </svg>
                </button>
                <div class="dropdown-content" *ngIf="showDropdown">
                    <div></div>
                    <div class="dropdown-label" disabled>{{ this.loggedInUserEmail }}</div>
                    <hr/>
                    <div class="dropdown-button" [routerLink]="['/users/profile']">Profile</div>
                    <div class="dropdown-button" (click)="logout()">Logout</div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="!loggedInUserEmail && !changePassword;">
    <ng-container *ngTemplateOutlet="notLoggedIn"></ng-container>
</ng-container>

<ng-template #notLoggedIn>
    <div class="buttons">
        <div>
            <button class="button-secondary button-default" (click)="openModal(loginContent)">
                <svg class="sign-in-icon" width="14" height="19" viewBox="0 0 14 19" fill="none">
                    <path
                        d="M11.1667 7.61627H2.83333C1.68274 7.61627 0.75 8.54901 0.75 9.69961V15.9496C0.75 17.1002 1.68274 18.0329 2.83333 18.0329H11.1667C12.3173 18.0329 13.25 17.1002 13.25 15.9496V9.69961C13.25 8.54901 12.3173 7.61627 11.1667 7.61627Z"
                        stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M2.83334 5.53294 A 4.16667 4.16667 0 1 1 11.1667 5.53294" stroke-width="1.4"
                          stroke-linecap="round" stroke-linejoin="round" class="upper-part"/>
                </svg>
                Login
            </button>
        </div>
        <div>
            <button class="button-primary button-default" (click)="openModal(signupContent)">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" height="20" fill="none"
                     class="svg-icon">
                    <g stroke-width="1.5" stroke-linecap="round">
                        <circle r="7.5" cy="10" cx="10"></circle>
                        <path d="m9.99998 7.5v5"></path>
                        <path d="m7.5 9.99998h5"></path>
                    </g>
                </svg>
                Sign-up
            </button>
        </div>
    </div>
</ng-template>
