@import '../../style-variables.scss';

// Text size
$btnTextSize: $sizeDef;

// Item Size
$heightBtn: 100%;
$widthBtn1: 100%;
$widthBtn2: 100%;
$heightSignInIcon: 100%;

// Margin/Border/Padding
$borderRadiusBtn: 2em;
$paddingNavSignButtonText: 0.35em 1em;

// Gap
$gapNavButton: 0.5em;


//
// Sign in/Sign up button
//
.nav-buttons {
    font-family: $fontDef;
    font-size: $btnTextSize;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: $gapNavButton;

    .nav-sign-btn {
        display: flex;
        flex-direction: row;
        text-align: center;
        gap: $gapNavButton;
        padding: $paddingNavSignButtonText;
        border-radius: $borderRadiusBtn;

        &.nav-sign-in-btn {
            height: $heightBtn;
            width: $widthBtn1;
            background-color: $colorBtn1;
            color: $colorNeutral2;
            stroke: $colorNeutral2;

            &:hover {
                background-color: $colorBtn2;
                color: $colorNeutral1;
                stroke: $colorNeutral1;
            }

            .nav-sign-in-icon {
                width: auto;
                height: $heightSignInIcon;
            }
        }

        &.nav-sign-up-btn {
            height: $heightBtn;
            width: $widthBtn2;
            background-color: $colorBtn2;
            color: $colorNeutral1;

            &:hover {
                background-color: $colorBtn1;
                color: $colorNeutral2;
            }
        }
    }
}
