@use '../../../style-variables.scss' as *;

.user-container {
    display: flex;
    flex-direction: column;
    background-color: $color-neutral-1;
    border-radius: $border-radius;
    padding: $item-padding;
    max-width: $card-min-width-large;
    margin: 0 auto;

    .user-header {
        display: flex;
        border-bottom: 1px solid $border-color;
        padding: $item-padding;
        align-items: center;

        .image-container {
            border-radius: 50%;
            width: 100px;
            height: 100px;
            overflow: hidden;

            .image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .info {
            margin-left: $item-padding;
            display: flex;
            flex-direction: column;

            .username {
                font-family: $font-default;
                font-weight: $font-weight-bold;
                font-size: $size-h1;
                color: $color-main-1;
            }

            .email,
            .bio {
                font-family: $font-default;
                font-size: $size-h2;
                color: $color-main-1;
            }
        }
    }

    .user-details-area {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .user-details-item {
            display: flex;
            flex-direction: column;
            gap: 5px;
            border-radius: $border-radius;
            background-color: $color-neutral-1;
            padding: $item-padding;
        }

        .user-details-nav-btn {
            padding-top: $item-padding;
            font-weight: $font-weight-medium;

            .button-secondary {
                border-color: $color-main-3;
            }
        }
    }

    .user-products-content {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .user-post {
            background-color: $color-main-3;
            padding: $item-padding;
            border-radius: $border-radius;
            border: 1px solid $border-color;

            &:hover {
                box-shadow: $hover-box-shadow;
            }
        }
    }
}