@use '../../../style-variables.scss' as *;


.user-page-container {

    .user-container {
        display: flex;
        flex-direction: row;
        gap: 20px;
        max-width: 100%;
        margin: 0;
        padding-inline: $main-padding-inline;

        @media (max-width:$breakpoint-large) {
            flex-direction: column;
        }

        .left-card, .right-card {
            background-color: $color-neutral-1;
            border-radius: $border-radius;
            position: relative;
            transition: 0.5s ease-out;
            overflow: visible;
            border: 2px solid $border-color;
        }

        .left-card {
            flex: 0.3;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 1%;
            gap: 2%;

            .card-button {
                transform: translate(-50%, 125%);
                width: 30%;
                height: fit-content;
                border: none;
                font-size: 1rem;
                padding: .5rem 1rem;
                position: absolute;
                left: 50%;
                bottom: 0;
                opacity: 0;
                transition: 0.3s ease-out;
            }

            &:hover {
                border-color: $color-main-1;
                box-shadow: 0 4px 18px 0 $color-neutral-2;

                .card-button {
                    transform: translate(-50%, 0);
                    opacity: 1;
                }
            }

            .image-container {
                width: fit-content;
                height: fit-content;
                overflow: hidden;
                background-color: $color-neutral-1;
                border-radius: $border-radius;
                position: relative;
                margin: 3%;

                .image {
                    min-width: 200px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                    @media (max-width: $breakpoint-large) {
                        max-width: 200px;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .name-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                margin: 3%;

                .username {
                    font-family: $font-default;
                    font-weight: $font-weight-bold;
                    font-size: $size-h1;
                    color: $color-main-1;
                    margin-bottom: 10px;
                    margin-right: 3%;
                }

                .full-name{
                    font-family: $font-default;
                    font-weight: $font-weight-medium;
                    font-size: $size-h2;
                    color: $color-main-2;
                    margin-bottom: 10px;
                    margin-right: 3%;
                }
            }

            .buttons {
                margin-top: 10px;
                display: flex;
            }
        }

        .right-card {
            flex: 0.7;
            justify-content: flex-start;
            margin-left: auto;
            padding: 1%;

            @media (max-width: $breakpoint-large) {
                margin-left: 0;
            }

            .form-main-title {
                font-family: $font-default;
                font-weight: $font-weight-bold;
                font-size: $size-h1;
                color: $color-main-1;
                border-bottom: 5px solid $border-color;
                margin: 0;
                padding: 0;
            }

            .form-heading {
                font-family: $font-default;
                font-weight: $font-weight-bold;
                font-size: $size-h2;
                color: $color-main-1;
                padding-top: 1%;
                padding-bottom: 0;
                margin: 0;
            }

            .bio-content {
                font-family: $font-default;
                font-size: $size-h2;
                color: $color-main-1;
                background-color: $color-neutral-1;
                border-radius: $border-radius;
            }
        }
    }

    .product-list-holder {
        display: flex;
        flex-direction: column;

        gap: 20px;
        max-width: 100%;
        margin-top: 2%;
        padding-inline: $main-padding-inline;
        justify-content: space-between;

        .product-list-title {
            font-family: $font-default;
            font-weight: $font-weight-bold;
            font-size: $size-h1;
            color: $color-main-1;
            border-bottom: 5px solid $border-color;
            margin: 0;
            padding: 0;
        }
    }
}

