<div class="user-page-holder">
    <div class="user-info-holder">
        <div class="user-avatar">
            <img class="user-avatar-image" src="{{user.imageDataUrl}}" alt="{{user.username}}">
            <div *ngIf="user.fullName" class="user-avatar-name">
                {{user.fullName}}
            </div>
        </div>
        <div class="user-info">
            <div class="form-heading">
                About me
            </div>
            <div class="user-info-part">
                <div>Email:</div>
                <div>{{user.email}}</div>
            </div>
            <div class="user-info-part">
                <div>Username:</div>
                <div>{{user.username}}</div>
            </div>
            <div *ngIf="user.phoneNumber" class="user-info-part">
                <div>Phone Number:</div>
                <div>{{user.phoneNumber}}</div>
            </div>
            <div *ngIf="user.bio" class="user-info-part">
                <div>Bio:</div>
                <div>{{user.bio}}</div>
            </div>
        </div>
    </div>

    <div class="product-list-holder">
        <div class="form-heading">My Products</div>
        <sgh-product-list
                [products]="products"
                [nrOfItems]="nrOfItems"
                [nrOfPages]="nrOfPages"
        ></sgh-product-list>
    </div>
</div>
