@use '../../../style-variables.scss' as *;

.user-container {
    display: flex;
    flex-direction: column;

    padding: $item-padding;
    max-width: 100%;
    margin: 0;

    .user-header {
        display: flex;
        border-bottom: 1px solid $border-color;
        padding: $item-padding;
        align-items: center;
        background-color: $color-neutral-1;
        border-radius: $border-radius;
        justify-content: flex-start;

        .image-container {
            width: 100px;
            height: 100px;
            overflow: hidden;
            background-color: $color-neutral-1;
            border-radius: $border-radius;

            .image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .info {
            margin-left: $item-padding;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background-color: $color-neutral-1;
            border-radius: $border-radius;
            border-color: $color-main-2;


            .username {
                font-family: $font-default;
                font-weight: $font-weight-bold;
                font-size: $size-h1;
                color: $color-main-1;
            }
        }
    }

    .user-details-area {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: $item-padding;

        .user-details-item {
            background-color: $color-neutral-1;
            border-radius: $border-radius;
            padding: $item-padding;
            border-color: $color-main-2;

            .form-heading {
                font-family: $font-default;
                font-weight: $font-weight-bold;
                font-size: $size-h2;
                color: $color-main-1;
                border-bottom: 5px solid $border-color;
                padding-bottom: 10px;
            }

            .bio-content,
            .address-content {
                font-family: $font-default;
                font-size: $size-h2;
                color: $color-main-1;
                background-color: $color-neutral-1;
                border-radius: $border-radius;

            }
        }
    }

    .user-products-content {
        display: flex;
        flex-direction: column;
        gap: 5px;
        background-color: $color-neutral-1;
        border-radius: $border-radius;

        .user-post {
            background-color: $color-main-3;
            padding: $item-padding;
            border-radius: $border-radius;
            border: 1px solid $border-color;

            &:hover {
                box-shadow: $hover-box-shadow;
            }
        }
    }
}
