<sgh-breadcrumb [filter]="filterParams"></sgh-breadcrumb>
<div class="product-holder">
    <sgh-product-filter class="product-filter"
                        [categories]="categories"
                        [subcategories]="subcategories"
                        [categorySelected]="categorySelected"
                        [subcategorySelected]="subcategorySelected"
                        [selectedAtLeastOneSubCatOfCat]="selectedAtLeastOneSubCatOfCat"
                        [textSearch]="textSearch"
                        [minPrice]="minPrice"
                        [maxPrice]="maxPrice"
                        (changesEvent)="changesEvent($event)"
    ></sgh-product-filter>
    <sgh-product-list class="product-list"
                      [products]="products"
                      [categories]="categories"
                      [subcategories]="subcategories"
                      [nrOfPages]="nrOfPages"
                      [nrOfItems]="nrOfItems"
                      [subcategorySelected]="subcategorySelected"
                      [categorySelected]="categorySelected"
                      [textSearch]="textSearch"
                      [minPrice]="minPrice"
                      [maxPrice]="maxPrice"
                      (newPageEvent)="setPageNumber($event)"
                      (orderByEvent)="orderBy($event)"
                      (clearFilterEvent)="clearFilter($event)"
                      (resetFilterEvent)="resetFilters()"
    ></sgh-product-list>
</div>
