<div>
    <div *ngFor="let category of categories; let i = index">
        <div class="buttons">
            <div
                class="button-default button-secondary button-content"
                (click)="isCollapsed[i] = ! isCollapsed[i]"
                [attr.aria-expanded]="!isCollapsed[i]"
            >
                <div>
                    {{category.name}}
                </div>
                <div *ngIf="isCollapsed[i]">+</div>
                <div *ngIf="!isCollapsed[i]">-</div>
            </div>
        </div>
        <div [(ngbCollapse)]="isCollapsed[i]">
            <div class="filter-item" [attr.aria-expanded]="!isCollapsed[i]">

                <div *ngFor="let subcategory of subcategories">
                    <div *ngIf="subcategory.categoryId==category.id">
                        {{subcategory.name}}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
