@use '../../../style-variables.scss' as *;

$filter-padding: 10px;

.flex-row {
    display: flex;
    flex-direction: row;
}

.button-content {
    border-radius: $border-radius;
    border-color: $color-main-3;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: $font-weight-bold;

    &[aria-expanded="true"] {
        border-radius: $border-radius $border-radius 0 0;
    }
}

.filter-item {
    border-radius: $border-radius;
    background-color: $color-main-3;
    padding: $filter-padding;

    &[aria-expanded="true"] {
        border-radius: 0 0 $border-radius $border-radius;
    }
}

.item-selected {
    border-radius: $border-radius;
    border-style: solid;
    border-color: $color-main-1;

    &:hover {
        background-color: $color-main-4;
    }

    &[aria-selected="true"] {
        background-color: $color-main-2;
    }

    &.category-selected {

        &[aria-selected="true"] {
            background-color: $color-main-2;
        }
    }
}

.subcategory-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: $border-radius;
    border-color: $color-main-3;
    width: 100%;
    font-weight: $font-weight-bold;
    gap: $filter-padding;
}
