<div class="holder">
    <form #userForm="ngForm" (ngSubmit)="onSubmit()" class="form-main-title">
        <div class="form-heading">Edit User</div>

        <div class="general-data">
            <div class="general-data-form">
                <div class="form-part">
                    <div>
                        <label for="username" class="form-part-label">Username</label>
                        <input type="text"
                               id="username"
                               name="username"
                               [(ngModel)]="user.username"
                               #username="ngModel"
                               required minlength="4"
                               maxlength="50"
                               class="form-part-input"/>

                        <sgh-form-ch-lbl [fieldName]="'Username'"
                                         [required]="true"
                                         [minlength]="4"
                                         [maxlength]="50"
                                         [length]="username.value.length"
                                         *ngIf="username.invalid && (username.dirty || username.touched)"
                                         class="form-check-label">
                        </sgh-form-ch-lbl>
                    </div>
                    <div>
                        <label for="email" class="form-part-label">Email</label>
                        <div class="buttons email-and-password-reset">
                            <input type="email"
                                   id="email" name="email"
                                   [(ngModel)]="user.email"
                                   #email="ngModel"
                                   required
                                   minlength="5"
                                   maxlength="100"
                                   class="form-part-input"
                                   [disabled]="true"/>
                            <div class="button-default button-primary" (click)="requestPasswordReset()">
                                Request password reset
                            </div>
                        </div>
                        <sgh-form-ch-lbl [fieldName]="'Email'"
                                         [required]="true"
                                         [minlength]="5"
                                         [maxlength]="100"
                                         [length]="email.value.length"
                                         *ngIf="email.invalid && (email.dirty || email.touched)"
                                         class="form-check-label">
                        </sgh-form-ch-lbl>
                    </div>
                    <div>
                        <label for="fullName" class="form-part-label">Full Name</label>
                        <input type="text"
                               id="fullName"
                               name="fullName"
                               [(ngModel)]="user.fullName"
                               #fullName="ngModel"
                               minlength="5"
                               maxlength="100"
                               class="form-part-input"/>

                        <sgh-form-ch-lbl [fieldName]="'Full Name'"
                                         [minlength]="5"
                                         [maxlength]="100"
                                         [length]="fullName.value.length"
                                         *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)"
                                         class="form-check-label">
                        </sgh-form-ch-lbl>
                    </div>
                    <div>
                        <label for="phone" class="form-part-label">Phone number</label>
                        <input type="text"
                               id="phone"
                               name="phone"
                               [(ngModel)]="user.phoneNumber"
                               #phone="ngModel"
                               minlength="9"
                               maxlength="12"
                               class="form-part-input"/>

                        <sgh-form-ch-lbl [fieldName]="'Phone'"
                                         [minlength]="9"
                                         [maxlength]="12"
                                         [length]="phone.value.length"
                                         *ngIf="phone.invalid && (phone.dirty || phone.touched)"
                                         class="form-check-label">
                        </sgh-form-ch-lbl>
                    </div>
                </div>

                <div class="images form-part">
                    <div class="form-heading">Set a profile picture</div>
                    <sgh-image (fileChange)="onFileChange($event)"
                               [imageIds]="[user.imageId]"
                               [allowMultiple]="false"
                               [mode]="imageComponentMode">
                    </sgh-image>
                </div>

                <div class="form-part">
                    <div class="form-heading">
                        Location
                    </div>
                    <div>
                        <label for="address" class="form-part-label">Address</label>
                        <input type="text"
                               id="address"
                               name="address"
                               [(ngModel)]="user.address"
                               #address="ngModel"
                               minlength="5"
                               maxlength="100"
                               class="form-part-input"/>

                        <sgh-form-ch-lbl [fieldName]="'Address'"
                                         [minlength]="5"
                                         [maxlength]="100"
                                         [length]="address.value.length"
                                         *ngIf="address.invalid && (address.dirty || address.touched)"
                                         class="form-check-label">
                        </sgh-form-ch-lbl>
                    </div>
                    <div>
                        <label for="city" class="form-part-label">City</label>
                        <input type="text"
                               id="city"
                               name="city"
                               [(ngModel)]="user.city"
                               #city="ngModel"
                               minlength="5"
                               maxlength="100"
                               class="form-part-input"/>

                        <sgh-form-ch-lbl [fieldName]="'City'"
                                         [minlength]="5"
                                         [maxlength]="100"
                                         [length]="city.value.length"
                                         *ngIf="city.invalid && (city.dirty || city.touched)"
                                         class="form-check-label">
                        </sgh-form-ch-lbl>
                    </div>
                    <div>
                        <label for="country" class="form-part-label">Country</label>
                        <input type="text"
                               id="country"
                               name="country"
                               [(ngModel)]="user.country"
                               #country="ngModel"
                               minlength="5"
                               maxlength="100"
                               class="form-part-input"/>

                        <sgh-form-ch-lbl [fieldName]="'Country'"
                                         [minlength]="5"
                                         [maxlength]="100"
                                         [length]="country.value.length"
                                         *ngIf="country.invalid && (country.dirty || country.touched)"
                                         class="form-check-label">
                        </sgh-form-ch-lbl>
                    </div>
                </div>

                <div class="form-part">
                    <label for="bio" class="form-part-label">Biography</label>
                    <textarea id="bio"
                              name="bio"
                              [(ngModel)]="user.bio"
                              #bio="ngModel"
                              minlength="5"
                              maxlength="1000"
                              class="description-area form-part-input">
                    </textarea>

                    <sgh-form-ch-lbl [fieldName]="'Bio'"
                                     [minlength]="5"
                                     [maxlength]="1000"
                                     [length]="bio.value.length"
                                     *ngIf="bio.invalid && (bio.dirty || bio.touched)"
                                     class="form-check-label">
                    </sgh-form-ch-lbl>
                </div>

                <div class="edit-btn-holder buttons">
                    <button
                            class="button-primary button-default save-btn"
                            type="submit">
                        Update Profile
                    </button>
                    <button class="button-secondary button-default cancel-btn"
                            (click)="cancelEdit('/users/'+paramUid)">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
