
<div class="user-container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="user-header">Edit User</h1>
            <form (ngSubmit)="onSubmit()" #userForm="ngForm">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="user.username" required />
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email"
                        required />
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="user.phoneNumber" required />
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" name="address" [(ngModel)]="user.address"
                        required />
                </div>
                <!-- Image upload -->
                <div class="form-group">
                    <label for="image">Profile Image ("upload image")</label>
                    <sgh-image [imageIds]="[user.imageId]" [allowMultiple]="false" (fileChange)="onFileChange($event)" [mode]="'edit'"></sgh-image>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
